.team {
  text-align: center;
  padding: 32px;
  border-style: none;
  background-image: url(../../assets/img/bg.png);
  background-repeat: no-repeat;
  position: relative;
}

.team h3 {
  color: var(--black);
  font-size: 32px;
  border-bottom: 4px solid;
  display: inline-block;
  padding-bottom: 8px;
}

.team .collaborators {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  flex-wrap: wrap;
}

.input-color {
  position: absolute;
  top: 20px;
  right: 50px;
}
